@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600&display=swap');

html {
    font-family: 'Rubik', sans-serif;
    background-color: floralwhite;
    --large-font: 2.5rem;
    --medium-font: 1.5rem;
    --small-font:1rem;
}

p {
    font-size: var( --small-font);
}

h3 {
    font-size: var( --large-font);
}

footer {
    color: #fff;
    text-align: center;
    background-color: #f99dbc;
    padding: 50px;
}

* {
    padding: 0;
    margin: 0;
}

/* Nav Bar */

nav {
    background-color: #f99dbc;
}

.menu {
    background-color: #f99dbc;
    list-style-type: none;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.menu li {
    background-color: #f99dbc;
}

.menu li a {
    text-decoration: none;
    margin: 10px;
    color: #fff;
    font-size: 15px;
}

.menu-icon {
    display: none;
}

@media screen and (max-width:420px) {
    .menu-icon {
        display: block;   
    }

    .menu li {
        flex-basis: 100%;
    }
    nav {
        height: 20px;
        overflow:hidden;
    }
    .nav-expanded {
        height: 80px;
    }
}

.menu-home {
    text-align: center;
    font-weight: bold;
}

.menu-order {
    text-align: center;
    font-weight: bold;
}

.menu-about {
    text-align: center;
    font-weight: bold;
}

/* Hero */

.hero {
    background-image: url(../assets/hero-image.jpg);
    background-size: cover;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.hero h1 {
    color:#fff;
    font-size: 170px;
    font-weight: 400;
    outline-style: solid;
    outline-color: yellow;
    outline-width: 10px;
    text-align: center;
}

/* Home */

.service {
    color: #fff;
    background-color: #f99dbc;
    text-align: center;
}

.service-introduction {
    color: yellow;
    padding-top: 100px;
    font-size: var( --large-font);
}

.service-product-1 {
    margin: 0%;
    display: flex;
}
.product-1-img {
    padding-top: 100px;
    object-fit: contain;
    align-self: flex-start;
    width: 50%;
}

.product-1-name {
    color: yellow;
    flex: 1 1 auto;
    padding-top: 40%;
}

.service-product-2 {
    margin: 0%;
    display: flex;
}
.product-2-img {
    object-fit: contain;
    align-self: flex-start;
    width: 50%;
}

.product-2-name {
    color: yellow;
    flex: 1 1 auto;
    padding-top: 30%;
}
.service-product-3 {
    margin: 0%;
    display: flex;
}
.product-3-img {
    object-fit: contain;
    align-self: flex-start;
    width: 50%;
}

.product-3-name {
    color: yellow;
    flex: 1 1 auto;
    padding-top: 40%;
}

/* Gallery */

.gallery-menu {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color: #f99dbc;
    font-size: var( --large-font);
}

.gallery-items {
    max-width: 1024px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 100px;
}

.donuts {
    width: 100%;
}


/* order page */

.order-form-img {
    width: 50%;
}

.order-title {
    text-align: center;
    color: #f99dbc;
}

.order-subtitle {
    color: cornflowerblue;
    text-align: center;
    font-style: italic;
    padding-bottom: 50px;
}

.order-description-hours {
    color: #f99dbc;
    text-align: center;
    line-height: 30px;
}

.order-form {
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.5);
    max-width: 40%;
    margin: auto;
    text-align: center;
  }

.order-form-menu {
    color: #f99dbc;
}
  
.order-form-price {
    font-weight: bold;
    color: #f99dbc;
    font-size: 16px;
  }

.order-form-topping {
    color: #f99dbc;
    font-size: 13px;
}

.order-form-buttons {
    color: #f99dbc;
}

.order-form-qtybox {
    color: #f99dbc;
    width: 50px;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.order-form-add {
    border: none;
    outline: 0;
    padding: 12px;
    color: #fff;
    background-color: #f99dbc;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
  } 

.order-form-add:hover {
    opacity: 0.5;
}

/* About */

.about-title {
    padding-bottom: 100px;
    padding-top: 100px;
    color: #f99dbc;
    text-align: center;
}

.about-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.about-description {
    padding-bottom: 50px;
    padding-top: 50px;
    color: #f99dbc;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.about-information {
    padding-bottom: 50px;
    color: #f99dbc;
    text-align: center;
    font-size: 17px;
}

/* Responsive */

/* Tablet */
@media screen and (max-width: 991px) {
    .hero {
        max-height: 500px;
    }
    .hero h1 {
        font-size: 100px;
    }
    .order-form {
        min-width: 85%;
    }
}

/* Phone in landscape */
@media screen and (max-width: 767px) {
    .hero {
        max-height: 300px;
    }

    .hero h1 {
        font-size: 70px;
    }

    .about-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .about-description {
        padding-bottom: 30px;
        padding-top: 30px;
        font-size: 17px;
    }
    
}

/* Phone in portrait */
@media screen and (max-width: 479px) {
    .hero {
        max-height: 300px;
    }
    .hero h1 {
        font-size: 50px;
        outline-width: 6px;
    }

    .footer {
        font-size: 10px;
    }

    .service-introduction {
        font-size: var( --medium-font);
    }

    .service-description {
        font-size: 11px;
    }

    .gallery-items {
        max-width: 400px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 100px;
        grid-gap: 5px;
    }

    .product-1-name {
        font-size: 15px;
    }
    .product-2-name {
        font-size: 15px;
    }
    .product-3-name {
        font-size: 15px;
    }

    .gallery-menu {
        font-size: 20px;
    }

    .order-subtitle {
        font-size: 15px;
    }
    .order-form {
        min-width: 80%;
    }

    .order-form-menu {
        font-size: 1.2rem;
    }

    .order-title {
        font-size: var( --medium-font);
    }

    .about-title {
        padding-bottom: 30px;
        padding-top: 30px;
        font-size: var( --medium-font);
    }
    
    .about-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .about-description {
        padding-bottom: 30px;
        padding-top: 30px;
        font-size: 15px;
    }
}