@font-face {
    font-family: 'prstartk';
    src: url('../fonts/prstartk.ttf') format('truetype');
    font-style: normal;
}
html {
    font-family: 'prstartk';
}

body {
    font-family: 'prstartk';
    color:white;
    background-color: black;
    margin: 0;
}

footer {
    text-align: center;
}

/** Navigation Bar **/

nav {
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
    
}

nav li {
    display: inline;
    padding: 35px;
}

nav a {
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav a:hover {
    color: #f9ed3f;
}


/** Home Section **/

section {
    border-bottom: 3px solid #f9ed3f;
}

.mainLogo {
    display: block;
    margin-top: 70px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 50%
    
}

.homeImages {
    animation: home-move 10s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes home-move {
    0% {
        transform: translateX(100vw);
    }
  
    50% {
        transform: translate(0vw);
    }

    /** I put 50% to make them stay in the middle of the screen for few seconds **/
    /** The gif doesn't work sometimes because of lagging **/
    
    100% {
        transform: translateX(-100vw);
    }
}
    

/** I used rotate to mirror pacman, and I used scaleX to mirror characters **/
.pacmanLeft {
    transform: rotate(180deg);
    width: 4%;
    margin-right: 150px;
    
}

.pinky {
    width: 5%;
    margin-right: 20px;
}

.inky {
    width: 5%;
    margin-right: 20px;
}

.blinky {
    width: 5%;
    margin-right: 20px;
}

.clyde {
    width: 5%;
}

.insertCoin {
    text-align: center;
    padding: 70px;
    margin-bottom: 120px;
    animation: text-blinking 1s linear infinite;
}

@keyframes text-blinking {
    50% {
        opacity: 0;
    }
}

/** High Scores Section **/

.section2 {
    text-align: center;
    padding: 10px;
}

.ready {
    color: #ffd300;
    font-size: 30px;
    margin-top: 150px;
    margin-bottom: 50px;
}

ul {
    margin-bottom: 250px;
}

.bestPlayers {
    padding: 20px;
}

.high-scores-text {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    margin-bottom: 50px;
    
}

.rank1 {
    margin-left: 90px;
}

.score1 {
    margin-left: 90px;
}

.initials1 {
    margin-left: 40px;
}

.high-scores {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    padding: 10px;
   
}

.rank10 {
    margin-right: 20px;
}

.score10 {
    margin-right: 30px;
}

.initials10 {
    margin-right:  14px;
}

/** li:nth-child( **/

ul li:nth-child(4n) {
    color:#ff60b0;
}

ul li:nth-child(4n+2) {
    color:#ff0401;
}

ul li:nth-child(2n+1) {
    color:#01f8f8;
}

ul li:nth-child(4n+1) {
    color:#ffa002;
}

/** How To Play Section **/

.HTPImages {
    animation: HTP-move 10s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    margin-top: 100px;
}

@keyframes HTP-move {
    0% {
        transform: translateX(-100vw);
    }
  
    50% {
        transform: translate(0vw);
    }

    /** I put 50% to make them stay in the middle of the screen for few seconds **/
    /** The gif doesn't work sometimes because of lagging **/
    
    100% {
        transform: translateX(100vw);
    }
}
    
.pacmanRight {
    width: 4%;
    margin-right: 150px;
    
}

.eaten1 {
    width: 5%;
    margin-right: 20px;
}

.HTPdscription {
    text-align: center;
    font-size: 20px;
}

.discription {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 200px;
}

p::first-line {
    color: #ffd300;;
    text-transform: uppercase;
}

/** Players Section **/

.players {
    border-bottom: none;
}

.playersInformation {
    text-align: center;
    margin-top: 200px;
    line-height: 50px;
}

.allAboutChracters {
    display: flex;
    justify-content: center;
}

.shadow {
    transform: scaleX(-1);
    width: 20%;
}

.speedy {
    transform: scaleX(-1);
    width: 20%;
}

.bashful {
    transform: scaleX(-1);
    width: 20%;
}

.pokey {
    transform: scaleX(-1);
    width: 20%;
}
.characters {
    display: grid;
    justify-items: center;
    margin-top: 30px;
    margin-left: -100px;
}

.names {
    text-align: left;
    margin-top: 30px;
    margin-left: -70px;
    line-height: 50px;
}

.nickNames {
    text-align: left;
    margin-top: 30px;
    margin-left: 100px;
    line-height: 50px;
}


/** nth-of-type **/

h2:nth-of-type(1) {
    color:#ff0401;
}

h2:nth-of-type(2) {
    color:#ff60b0;
}

h2:nth-of-type(3) {
    color:#01f8f8;
    
}

h2:nth-of-type(4) {
    color:#ffa002;
    
}

/** Points **/

.highest-point {
    margin-top: 100px;
    display: flex;
    align-content: center;
    justify-content: center;


}

.point {
    margin-right: 30px;
}

.eaten2 {
    width: 4%;
    margin-left: 20px;
}

.fifty-point {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 100px;
}


.ten-point {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 100px;
    margin-bottom: 200px;
}

.bigBox {
    width: 50px;
    height: 50px;
    background-color: #f9ed3f;
    margin-left: 30px;
}

.smallBox {
    width: 10px;
    height: 10px;
    background-color: #f9ed3f;
    margin-top: 30px;
    margin-left: 30px;
}